main {
  padding: 8.5rem 0 0;
  overflow: auto;
  max-height: calc(100vh - 8.5rem);
}

.app-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem auto;
  border: 1px solid black;
  border-radius: 8px;
  width: 80%;
  font-size: 1.25rem;
}

.grid {
  display: grid;
  padding: 0.5rem 1rem;
}

.users-grid {
  grid-template-columns: 40% 40% 20%;
}

.users-grid-header {
  border-bottom: 1px solid black;
  font-weight: 500;
  background-color: gainsboro;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.users-grid-body {
  border-bottom: 1px solid black;
}

.users-grid-body:last-of-type {
  border-bottom: none;
}

.users-grid-container {
  width: 100%;
}

.posts-list {
  margin: 1rem auto;
}

.posts-item {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  border-radius: 6px;
  width: 70%;
  box-shadow: 0px 0px 5px -1px grey;
  margin: 1rem auto;
  height: 4rem;
  align-items: center;
}

.post-title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
}

.view-post-link,
.comments-btn {
  border: none;
  border-radius: 8px;
  background-color: var(--text-color);
  color: var(--bg-color);
  width: 90px;
  padding: 0.5rem;
  font-weight: 600;
}

.post-details {
  margin: 0 auto;
  width: 80%;
}

.post-header {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 1rem 0.5rem;
}

.post-body {
  font-size: 1.15rem;
  padding: 1rem 0.5rem;
  text-indent: 2rem;
}

.capitalize:first-letter,
q {
  text-transform: capitalize;
}

.post-body:first-letter {
  font-size: 3.5rem;
  font-style: italic;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.danger {
  background-color: red;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .app-header {
    height: 70px;
  }

  .app-logo img {
    max-width: 3rem;
  }
  .app-wrapper {
    width: 95%;
    font-size: 1rem;
  }

  main {
  }

  .posts-item {
    width: 85%;
    flex-direction: column;
    align-items: flex-start;
  }

  .view-post-link,
  .comments-btn {
    align-self: flex-end;
    padding: 0.25rem;
  }
}
